-# frozen_string_literal: true
= simple_form_for(@shop) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :owner
    = f.input :name
    = f.input :address_street
    = f.input :address_postcode
    = f.input :address_suburb
    = f.input :address_state
    %h3 Opening Hours
    %p These are your normal hours of trade week in week out, you can come back and update them any time
    = f.simple_fields_for :opening_hour do |oh|
      = oh.input :monday
      = oh.input :tuesday
      = oh.input :wednesday
      = oh.input :thursday
      = oh.input :friday
      = oh.input :saturday
      = oh.input :sunday

  .form-actions
    = f.button :submit, class: "btn btn-primary"
