%h1= @shop.name
%p
  = @shop.address_street
  = @shop.address_suburb
  = @shop.address_postcode
  = @shop.address_state

%h3 Opening Hours
%ul
  - @shop.opening_hour
  %li
    Monday:
    = @shop.opening_hour.monday
  %li 
    Tuesday:
    = @shop.opening_hour.tuesday
  %li
    Wednesday:
    = @shop.opening_hour.wednesday
  %li
    Thursday:
    = @shop.opening_hour.thursday
  %li 
    Friday:
    = @shop.opening_hour.friday
  %li 
    Saturday:
    = @shop.opening_hour.saturday
  %li
    Sunday:
    = @shop.opening_hour.sunday
