%h1= @shop.name
%p
  = @shop.address_street
  = @shop.address_suburb
  = @shop.address_postcode
  = @shop.address_state

%h3 Opening Hours
%ul.list-group
  - @shop.opening_hour
  %li.list-group-item
    Monday:
    = @shop.opening_hour.monday
  %li.list-group-item
    Tuesday:
    = @shop.opening_hour.tuesday
  %li.list-group-item
    Wednesday:
    = @shop.opening_hour.wednesday
  %li.list-group-item
    Thursday:
    = @shop.opening_hour.thursday
  %li.list-group-item
    Friday:
    = @shop.opening_hour.friday
  %li.list-group-item
    Saturday:
    = @shop.opening_hour.saturday
  %li.list-group-item
    Sunday:
    = @shop.opening_hour.sunday
